<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Welcome to Our Website</h1>
    </header>
    
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/signup">Logout</a></li>
           
            <li><a href="/create/posts">Create</a></li>

        </ul>
    </nav>
    
    <main>
        <h2>Home Page Content</h2>
        <a href="/signin">
            <button>hello</button>
          </a>
          

<ul class="article-ul">
    <% data.forEach(post => { %>
      <li>
        <span><%= post.title %></span>
        <span><%= post.content %></span>
        <span ><%= post.createdAt.toDateString() %></span>
      </li>
    <% }) %>
  </ul>
  

        <p>This is the homepage of our website.</p>
    </main>
    
    <footer>
        <p>&copy; 2023 Your Website</p>
    </footer>
</body>
</html>
